body{
	margin: 0;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: Roboto Slab;
  font-size: 25px;
  color: #E5D7BC;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
}

.openbtn:hover {
  background-color: #lightsteelblue;
  font-family: Parisienne;
  font-size: 17px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
  position: relative;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.mim{
  margin: 0 auto;
  max-width: 880px;
  margin-top: 130px;
  background-color: #FEFDEA;
  border-left-style: ridge;
  border-left-color: #F3EEB3;
  border-left-width: 20px;
}

.mim h1{
  font-family: Futura;
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 40px;
  margin-bottom: 15px;
}

.mim p{
  font-family: Roboto Slab;
  font-size: 24px;
  margin-left: 110px;
  margin-top: 30px;
  padding-bottom: 40px;
  margin-right: 100px;

}

